.App {
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.new {
  display: flex;
  flex-direction: row;
}
.item {
  align-self: flex-end;
  margin-left: -18px;
}
.itemzero {
  align-self: flex-end;
  margin-right: -5px;
}
